.titre {
  color: aliceblue;
}

.entete {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 60px;

  background-color: rgba(40, 40, 40, 0.76);
  text-align: center;
  font-size: medium;
}

.pic {
  height: 50px;
  width: 50px;
  padding-top: 10px;
}

.ensemble {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  row-gap: 10px;
}

.zone1 {
  /**/
}

.zone2 {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 50px;
  background-color: rgb(0, 21, 40);
  /*height: 500px;*/

  /*background-color: rgb(91, 93, 92);*/
}

.zone3 {
  height: 150px;
  padding-left: 20px;
}

.lesbtn {
  display: grid;
  /*grid-template-rows: auto;*/
  row-gap: 5px;
  /*column-gap: 10px;*/
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 15px 40px 18px 15px;
}

textarea {
  font-size: x-large;

  margin: 15px 15px 35px 30px;
  padding: 15px 15px 18px 15px;

  border-radius: 10px;
  color: antiquewhite;
}

.result1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  margin: 20px 0px 0px 0px;

  /*height: 50px;*/
}

.result2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  margin: 0px 0px 0px 0px;

  /*height: 50px;*/
}

li {
  color: aqua;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.855);
  text-align: center;

  /*margin: 0px 0px 0px 0px;*/
  /*padding: 0px 0px 0px 0px;*/
}

ul li {
  list-style: none;
}

/*section {
  margin-top: 00px;
}*/
